{% extends "base.html" %}
{% block title %} 产品目录 {% endblock %}
{% block pagename %} 产品目录 {% endblock %}
{% block content %}
{% for item in products %}
<div class="row"style="padding-top:10">
<div class="span3 media-grid">
<a href="#">
<img class="thumbnail"src="{{item.image_url}}"alt="">
</a>
</div>
<div class="span-two-thirds">
<h3>{{item.title}}</h3>
<br/>
{{item.description}}
<br/>
<br/>
<br/>
<div class="row">
<div class="span2"><h3>￥{{item.price|floatformat:"2"}}</h3></div>
<div class="span"><a class="btn primary"href="{% url 'depotapp:add_to_cart' item.id  %}">加入购物车</a></div>
</div>
</div>
</div>
<div class="page-header">
</div>
{% endfor %}
{% endblock %}

